<a href="{{gsheets.links.challenge-webinar-register-link.url}}" class="btn btn-default">
	<span class="glyphicon glyphicon-list-alt"></span>
	<strong>Register for Webinar</span></a>
{{!--<a href="#challenge-process-advise" class="btn btn-default">
	<span class="glyphicon glyphicon-calendar"></span>
	<strong>Download Calendar Event</span></a>--}}