<a href="#challenge-process-advise" class="btn btn-default disabled">
  <strong>{{displayName}}</strong><br />
  <small>{{formatDate dateFrom "%b %e"}}{{#if dateTo}} – {{formatDate dateTo "%b %e"}}{{/if}}</small><br />
</a>