<a href="{{gsheets.links.challenge-application.url}}" class="btn btn-primary" target="_blank" onclick="ewt.trackLink({name:'FHI - View Finalists',type:'click',link:this }); ga('send', 'event', 'button', 'View Finalists', 'View Finalists - from {{slug}} page');"><span class="glyphicon glyphicon-user"></span> 
<strong>View Finalists</span></a>