<a target="_blank" href="http://hbsconference.adobeconnect.com/hbshci/" class="btn btn-default">
	<span class="glyphicon glyphicon-list-alt"></span>
	<strong>Join Webinar - 12:00 PM ET 9/17</span></a>

{{!--<a href="#challenge-process-advise" class="btn btn-default">
	<span class="glyphicon glyphicon-calendar"></span>
	<strong>Download Calendar Event</span></a>--}}