<a href="{{gsheets.links.challenge-application.url}}" class="btn btn-primary" target="_blank" onclick="ewt.trackLink({name:'FHI - Participate Now',type:'click',link:this }); ga('send', 'event', 'button', 'Participate', 'Participate Now - from {{slug}} page');"><span class="glyphicon glyphicon-user"></span> 
<strong>Participate Now</span></a>