<a href="{{gsheets.links.challenge-application.url}}" class="btn btn-primary" target="_blank" onclick="ewt.trackLink({name:'FHI - Apply Now',type:'click',link:this }); ga('send', 'event', 'button', 'Apply', 'Apply Now - from {{slug}} page');"><span class="glyphicon glyphicon-ok"></span> 
<strong>Apply</span><br><small>by 
{{formatDate gsheets.dates.challenge-application-due.dateFrom gsheets.formatting.date-brief-noyear.fmt}}
</small></a>