<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> docs-header }}

    {{!-- Content --}}
    <div class="container docs-container">
      <div class="row">
        {{#isnt slug 'index'}}
          <div class="col-md-3">
            <div class="sidebar hidden-print" role="complementary">
              
              {{> sidenav }}
            </div>
          </div>
        {{/isnt}}
        <div class="col-md-9" role="main">
          <!--
            To create PDF of whole site, include {{> nav-main-links}} on the next line. 
            Right now, the javascript rendering on the mobile site prevents Acrobat from 
            reading the linked pages in the hamburger nav. 
          -->
          {{> body }}
        </div>
        {{#is slug 'index'}}
          <div class="col-md-3">
            <div class="sidebar hidden-print" role="complementary">
              
              {{> sidebar-apply-now }}

              {{> sidebar-subscribe }}
              
            </div>
          </div>
        {{/is}}
      </div>
    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>