
<div class="btn-group btn-group-justified hidden-xs">
  {{> button-apply-now}}
  {{> 'button-challenge-stage' gsheets.dates.challenge-stages-advise }}
  {{> 'button-challenge-stage' gsheets.dates.challenge-stages-refine }}
  {{> 'button-challenge-stage' gsheets.dates.challenge-stages-announce }}
</div> <!-- end btn-group -->	
