
<div class="btn-group ">
	<a href="#challenge-process-apply" class="btn btn-default">
		<strong>Apply:</span><br />
		<small>August 10, 2014</small></a>
	<a href="#challenge-process-advise" class="btn btn-default">
		<strong>Advise:</span><br />
		<small>September 29, 2014</small></a>
	<a href="#challenge-process-refine" class="btn btn-default">
		<strong>Refine:</span><br />
		<small>October 20, 2014</small></a>
	<a href="#challenge-process-announce" class="btn btn-default">
		<strong>Announce:</span><br />
		<small>November 10, 2014</small></a>
</div> <!-- end btn-group -->	
