<div class="row">

	<img src="{{assets}}/img/conference-attendees-by-title_480px.jpg" alt="Conference Attendees by Title" class="img-responsive visible-xs">
  	<img src="{{assets}}/img/conference-attendees-by-title.jpg" alt="Conference Attendees by Title" class="img-responsive hidden-xs">

</div>