<div class="row">
  <div class="col-md-6">
  	<img src="{{assets}}/img/conference-attendees-by-sector.png" alt="Conference Attendees by Sector" class="img-responsive">
  </div>
  <div class="col-md-6">
  	<img src="{{assets}}/img/conference-attendees-by-title.png" alt="Conference Attendees by Title" class="img-responsive">
  </div>
</div>