{{!-- Header --}}
<div class="docs-header" id="content">
  <div class="container">
  	<div class="row">
    <h1 class="col-md-8">{{ site.title }}</h1>
    {{!-- <p>{{ site.lead }}</p> --}}
    <img class="col-md-4" src="{{assets}}/img/caduceus.png">
    </div>
    {{!> ads }}
  </div>
</div>

{{!-- Callout for the old docs link --}}
{{> banner }}