{{!-- Header --}}
<div class="docs-header" id="content">
	<div class="container">
		<img src="{{assets}}/img/hci-fhi-banner_480.jpg" class="visible-xs"/>
		<img src="{{assets}}/img/hci-fhi-banner_768.jpg" class="visible-sm"/>
		<img src="{{assets}}/img/hci-fhi-banner_992.jpg" class="visible-md"/>
		<img src="{{assets}}/img/hci-fhi-banner_1200.jpg" class="visible-lg"/>
	</div>
	<div class="masthead-logos"></div>
</div>

{{!--{{> banner }}--}}