{{!-- Header --}}
<div class="docs-header" id="content">
	<div class="container">
		{{!-- 
		on small screens, we do not want the masthead to be clickable, otherwise the
		the user may accidentally be redirected to the landing page when they just wanted to 
		drag down.
		--}}  
		<img class="visible-xs visible-sm" src="0.gif" alt="Forum on Health Care Innovation"/>
		<a class="hidden-xs hidden-sm" href="{{rel '/'}}"><img src="0.gif" alt="Forum on Health Care Innovation"/></a>
	</div>
	<div class="masthead-logos"></div>
</div>
{{!--{{> banner }}--}}