{{!-- Header --}}
<div class="docs-header" id="content">
  <div class="container">
  	<div class="row">
    {{!--<h1 class="col-xs-12 col-sm-6 col-md-6 main-title">{{ site.title }}</h1>--}}
    {{!-- <p>{{ site.lead }}</p> --}}
    <img data-src="holder.js/100%x150/text:(masthead image with logos here)/#7A032E:#fff" class="col-xs-6 col-md-4 main-logo" {{!--src="{{assets}}/img/caduceus.png"--}}>
    </div>
    {{!> ads }}
  </div>
</div>

{{!--{{> banner }}--}}