<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>{{title}}</h1>
    <p class="lead">{{{site.description}}}</p>
    <p>
      <a href="{{site.download.latest}}" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download']);">MAIN BUTTON</a>
    </p>
  </div>
</main>
