<div id="sidebar-apply-now" class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Participate in Challenge</h3>
  </div>
  <div class="panel-body panel-info">
    {{md 'sidebar-apply-now-content'}}

    {{> button-apply-now}}

 	<button type="button" class="btn btn-default">
    	<span class="glyphicon glyphicon-chevron-right"></span> Learn More
 	</button>
  </div>

</div>
