<div id="sidebar-subscribe" class="panel panel-default">
  <!-- Default panel contents -->
  
  <div class="panel-heading">
  <h3 class="panel-title">Subscribe to Updates</h3>
  </div>
  <div class="panel-body">
    {{md 'sidebar-subscribe-content'}}
    <button type="button" class="btn btn-default">
    	<span class="glyphicon glyphicon-envelope"></span> Subscribe
 	</button>
  </div>
</div>