<div id="sidebar-subscribe" class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-body">
    {{md 'sidebar-subscribe-content'}}
    <button type="button" class="btn btn-default">
    	<span class="glyphicon glyphicon-envelope"></span> Subscribe to Updates
 	</button>
  </div>
</div>