<div id="sidebar-apply-now" class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title">Compete in Challenge</h3>
  </div>
  <div class="panel-body panel-info">
    {{md 'sidebar-apply-now-content'}}

    {{> button-apply-now}}<br>

    <p class="sidenav-link">
 		<a  href="{{rel "challenge"}}">Learn More</a>
 	</p>
  </div>

</div>
