//
// Subhead
// --------------------------------------------------



.docs-header,
.docs-home {
  color: @navbar-inverse-link-color;
  background-color: @navbar-inverse-bg;
}

/* Page headers */
.docs-header {
  // padding: 30px 15px 50px; /* side padding builds on .container 15px, so 30px */
  padding: 0px;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.docs-header h1 {
  color: #fff;
}
.docs-header p {
  font-weight: 300;
  line-height: 1.5;
  padding: 0px;
}

.docs-header img {
  // margin-top:25px;
  padding: 0px;
}

.docs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  .docs-header {
    font-size: 21px;
    text-align: left;
  }
  .docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .docs-header h1,
  .docs-header p {
    margin-right: 0px;
  }
}

.main-title {
  padding: 0px;
  margin-left:0px;
}
.main-logo {
  padding: 0px;
}

.docs-header {

  height: 350px;

  // .masthead-img {
  //   background-image: url('../img/hci-fhi-banner_1200.jpg'); 
  //   background-repeat: no-repeat;
  //   width: 1200px;
  //   height: 350px;
  //   z-index: 100;
  //   position:relative;
  // }

  // .masthead-main {
  //     height: 230px;
  //     width: 100%;
  //     background-color: @brand-primary;
  //     z-index: -50;
  //     top:0px;
  //     left:0px;
  //     position:relative;
  //   }

  img {
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
  }

  .masthead-logos {
      height: 120px;
      width: 100%;
      top: -120px;
      left: 0px;
      background-color: #000;
      z-index: 5;
      position:relative;
  }

}

body {
  padding-top:@navbar-height;
  
}
