//
// Subhead
// --------------------------------------------------



.docs-header,
.docs-home {
  color: @navbar-inverse-link-color;
  background-color: @navbar-inverse-bg;
}

/* Page headers */
.docs-header {
  // padding: 30px 15px 50px; /* side padding builds on .container 15px, so 30px */
  padding: 0px;
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.docs-header h1 {
  color: #fff;
}
.docs-header p {
  font-weight: 300;
  line-height: 1.5;
  padding: 0px;
}

.docs-header img {
  // margin-top:25px;
  padding: 0px;
}

.docs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  .docs-header {
    font-size: 21px;
    text-align: left;
  }
  .docs-header h1 {
    font-size: 60px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .docs-header h1,
  .docs-header p {
    margin-right: 0px;
  }
}

.main-title {
  padding: 0px;
  margin-left:0px;
}
.main-logo {
  padding: 0px;
}

// pmn
.docs-header {

  height: @mast-height-xs;

  // make the mast image increase size with the larger screen size 
  @media (min-width: @screen-lg-min) {
    height: @mast-height-lg;
  }

  img {
    position: relative;
    top: 0px;
    left: 0px;
    // push the image in FRONT of the masthead logos div below
    z-index: 10;
    // we actually want to hide the original image we're replacing, so set a height and width of 0px;
    // cf. http://stackoverflow.com/a/10247567/78202
    height: 0px;
    width: 0px;
    background-size:auto;
    background-repeat: no-repeat;

    // note that the urls contain the dimension variable
    // cf. http://stackoverflow.com/a/10256444/78202
    @media(min-width: @screen-xxs-min) {
      background-image: url("../img/hci-fhi-banner_@{mast-width-xxs}.jpg");
      padding: @mast-height-xxs/2 @mast-width-xxs/2;
    }
    @media(min-width: @screen-xs-min) {
      background-image: url("../img/hci-fhi-banner_@{mast-width-xs}.jpg");
      padding: @mast-height-xs/2 @mast-width-xs/2;
    }
    @media(min-width: @screen-sm-min) {
      background-image: url("../img/hci-fhi-banner_@{mast-width-sm}.jpg");
      padding: @mast-height-sm/2 @mast-width-sm/2;
    }
    @media(min-width: @screen-md-min) {
      background-image: url("../img/hci-fhi-banner_@{mast-width-md}.jpg");
      padding: @mast-height-md/2 @mast-width-md/2;
    }
    @media(min-width: @screen-lg-min) {
      background-image: url("../img/hci-fhi-banner_@{mast-width-lg}.jpg");
      padding: @mast-height-lg/2 @mast-width-lg/2;
    }
  }

  .masthead-logos {
      // add an extra pixel to the height; not sure why this is necessary, but it looks right
      height: @mast-bottom-logo-height-xs + 1;
      width: 100%;
      // add an extra pixel to the height; not sure why this is necessary, but it looks right
      top: -1 * @mast-bottom-logo-height-xs - 1;
      left: 0px;
      background-color: #000;
      z-index: 5;
      position:relative;

      @media (min-width: @screen-xxs-min) {
          height: @mast-bottom-logo-height-xxs;
          top: -1 * @mast-bottom-logo-height-xxs;
      }
      @media (min-width: @screen-xs-min) {
          height: @mast-bottom-logo-height-xs;
          top: -1 * @mast-bottom-logo-height-xs;
      }
      @media (min-width: @screen-lg-min) {
          height: @mast-bottom-logo-height-lg;
          top: -1 * @mast-bottom-logo-height-lg;
      }
  }



}

body {
  // this overrides some hard coded values in the docs css.
  padding-top:@navbar-height;
}
