//
// Main navigation
// --------------------------------------------------

.docs-nav {
  //increae size of caret
  .caret {
    border-left: 6px solid transparent; 
    border-right: 6px solid transparent; 
    border-top: 6px solid;
  }
  
}

.navbar-toggle {
  @media (max-width: 400px) {
    height:33px; 
  }
}

.navbar-nav .btn:hover {
  border-color: transparent;
}