---
title: About
slug: about
lead: "Learn about the history of Less, meet the core team, and check out the ever-growing community resources."
---

{{!-- History
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="about-us">About Us</h1>
  </div>
  {{md 'about-us'}}
</div>

{{!-- People
================================================== --}}
<div class="docs-section container-fluid">
  <div class="page-header">
    <h1 id="team">2012 Participants</h1>
  </div>
  <div class="list-group team">

    {{! Generated from data/people.yml }}
    {{#each people.fhi12 }}
    
     {{> person . }}
    {{/each}}

  </div>
</div>