---
title: Forum on Health Care Innovation
slug: index
lead: "Slogan for FHI could go here."
---

{{!-- Health Acceleration Challenge Launch
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="getting-started">Health Acceleration Challenge Launch</h1>
  </div>
  {{md 'challenge-launch-intro'}}
</div>

{{!-- Health Acceleration Challenge Video 
================================================== --}}
<div class="row">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/480x235" alt="...">
    </a>
</div>

